# dependencies
node_modules/

# misc
.DS_Store
*.pem
Thumbs.db
terminals.json

# testing
/coverage

# next.js
.next/

# production
bin/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts